
<!-- <input type="search"> -->
<div>
    <div class="col-md-8">
            
                <div class=""  ng-repeat="user in foundUsers">
                        <!-- <div >
                            {{user.name}}
                        </div> -->

                        <div class="thumbnail">
                            <img src="public/icons/photoAnon.jpg" alt="{{user.photos[0]}}">
                            <div class="caption">
                              <h4>{{user.name}} {{user.surname}}</h4>
                              <h5>Вік: {{user.bday}}</h5>
                              <h5>Стать: {{user.sex}}</h5>
                              <h6>Сімейний стан: {{user.reletionship}}</h6>  

                              <input type="button" class="btn btn-primary" value="Добавити до друзів">
                            </div>
                        </div>

                </div>
              

    </div>
    <div class="col-md-4">
        Filter
    </div>
</div>