<!DOCTYPE html>
<html lang="en"  ng-app="loginApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social Lviv</title>

    <script src="public/scripts/angular.min.js"></script>     

    <link rel="stylesheet" href="public/styles/bootstrap.css">

    <link rel="stylesheet" href="public/styles/login.css">   
	<script src="public/scripts/login.js"></script>
    


</head>
<body  ng-controller="loginCtrl">



    <div class="container vertical-center">
        <div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href=""  ng-class="{active: selected=='activeLogin' }"  ng-click="selected='activeLogin'; dispalyForm={loginForm:{display:'block'},regForm:{display:'none'}}"  id="login-form-link">Увійти</a>
							</div>
							<div class="col-xs-6">
								<a href="" ng-class="{active: selected=='activeReg' }"  ng-click="selected='activeReg'; dispalyForm={loginForm:{display:'none'},regForm:{display:'block'}}"  id="register-form-link">Зареєструватися</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">

								<form action="/login" method="post">
								<div ng-style="dispalyForm.loginForm" style="display:block">
									<div class="form-group">
										<input type="text" name="username"  tabindex="1" class="form-control" placeholder="Логін" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" tabindex="2" class="form-control" placeholder="Пароль">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit"  tabindex="4" class="form-control btn btn-primary btn-login" value="Увійти">
											</div>
										</div>
									</div>
                                </div>
							</form>

								<di ng-style="dispalyForm.regForm" style="display:none">

                                    <div class="form-group">
                                        <input type="text"  ng-model="regData.name"  tabindex="1" class="form-control" placeholder="Ім'я" value="">
                                    </div>   
                                    
                                    <div class="form-group">
                                            <input type="text" ng-model="regData.surname" tabindex="2" class="form-control" placeholder="Прізвище" value="">
                                    </div>  

                                    <div class="form-group">
                                        <div class="panel panel-default  sex-panel-wrap">
                                            <div class="sex-panel">
                                                <p class="text-muted" style="display:inline-block">Стать: </p>
                                                <label class="radio-inline"><input type="radio" ng-click="regData.sex='1'"  tabindex="3"  checked="checked" name="optradio">Чоловік</label>                  
                                                <label class="radio-inline"><input type="radio"  ng-click="regData.sex='0'" tabindex="4"  name="optradio">Жінка</label>
                                            </div>
                                        </div>                  
									</div>    
									<div class="form-group">
										<input type="text" ng-model="regData.reletionship" tabindex="2" class="form-control" placeholder="Сімейний стан" value="">
									</div>                         
                                    <div class="form-group">
										<input type="date" tabindex="5"  ng-model="regData.bday"  class="form-control"  value="">
									</div>
                                    <div class="form-group">
										<input type="text"tabindex="5"  ng-model="regData.login"  class="form-control" placeholder="Логін" value="">
									</div>
									<div class="form-group">
										<input type="password" tabindex="6"  ng-model="regData.password" class="form-control" placeholder="Пароль">
									</div>
									<div class="form-group">
										<input type="password" tabindex="7"  ng-model="regData.confirmPassword" class="form-control" placeholder="Повторіть пароль">
                                    </div>
                                    


									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button"  ng-click="regNow()" tabindex="8" class="form-control btn-primary  btn btn-register" value="Зареєструватися">
											</div>
										</div>
									</div>
                                </div>
                                


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>