#wrap #head .logo{
    width:50px;
    height: 50px;
}
#wrap #head #search{
    float: right;
}

#wrap #head{
    padding:0 7vh;
}

.details li {
    list-style: none;
  }



  .count{
      float: right;
  }


  .coments{
      height: 44vh;
      overflow-y: scroll;
      overflow-x: hidden;
  }


.photo-ico{
    max-width:70px;
}

.img{
    max-width: 300px;
}